<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Test</display-name>
  
  
  	<!-- Hellow -->
	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>com.test.HelloWorld</servlet-class>
	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>hello</servlet-name>
  		<url-pattern>/hello</url-pattern>
  	</servlet-mapping>
  	
  	<!-- Ex01 -->
  	<servlet>
		<servlet-name>UrlMappingEx01</servlet-name>
		<servlet-class>com.test.lesson01.UrlMappingEx01</servlet-class>
	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>UrlMappingEx01</servlet-name>
  		<url-pattern>/servlet/ex01</url-pattern>
  	</servlet-mapping>
  	
  	<!-- Quiz01 -->
  	<servlet>
		<servlet-name>UrlMappingQuiz01</servlet-name>
		<servlet-class>com.test.lesson01.UrlMappingQuiz01</servlet-class>
	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>UrlMappingQuiz01</servlet-name>
  		<url-pattern>/servlet/quiz01</url-pattern>
  	</servlet-mapping>
  	
  	<!-- Quiz02 -->
  	<servlet>
		<servlet-name>UrlMappingQuiz02</servlet-name>
		<servlet-class>com.test.lesson01.UrlMappingQuiz02</servlet-class>
	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>UrlMappingQuiz02</servlet-name>
  		<url-pattern>/servlet/quiz02</url-pattern>
  	</servlet-mapping>
  	
  	<!-- 한글 꺠짐을 방지하기 위한 인코딩 필터 추가 -->
  	<!-- <filter>
  		<filter-name>CharacterEncodingFilter</filter-name>
  		<filter-class>com.test.filter.CharacterEncodingFilter</filter-class>
  	</filter>
  	
  	<filter-mapping>
  		<filter-name>CharacterEncodingFilter</filter-name>
  		<url-pattern>/*</url-pattern>
  	</filter-mapping> -->
  	
  
</web-app>